<!DOCTYPE html>

<html lang="en">
    <head>       
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> News Article Sorting Project</title>
        <link rel="stylesheet" href="../static/css/main.css">
    </head>

    <body>
        <div id="page_container">
            <div id="heading_banner">
                <div id="top_banner">
                    <p id="project_logo"><img src="{{project_logo_url}}" alt="Project Logo" width=100px></p>

                    <h1 id="project_title">
                        News Article Sorting Project
                    </h1>

                    <p id=""ineuron_logo><img src={{ineuron_logo_url}} alt="iNeuron Logo" width=200px></p>
                </div>
                <div id="bottom_banner">
                    <p id="logs_link">Logs</p>
                    <p id="predict_single_sentence"> Predict On Single Sentence</p>
                    <p id="predict_csv">Predict On a CSV File </p>
                    <p id="train_request">Submit a Re-training Request</p>
                    <p id="about">About</p>
                </div>
            </div>

            <div id="project_introduction">
                <p>
                    This Web Application implements a Machine Learning solution to classify News Articles into 5 categories -
                    Business, Entertainment, Politics, Sport and Technology. This application utilizes state-of-the-art 
                    transformer models to process the news article and classify it into its correct category.    
                    The demand for information by users has been growing continuously, so it is crucial that the news is classified
                     to allow users to access the information of interest quickly and effectively.
                     This way, the machine learning model for automated news classification could be used to identify topics 
                    of untracked news and/or make individual suggestions based on the user's prior interests.         
                </p>
            </div>

            <div id="prediction_feature">
                <p>
                    The Web Application can be utilized to Categorize a single News Article or multiple articles submitted in a single .csv file. 
                </p>
                <div id="single_article_prediction">
                    <h2>Single Article Prediction</h2>
                    <p>Please enter the sentence to classify</p>
                    <form action="#" method="post">
                        <p><input type="text" name="news_text"></p>
                        <p><input type="submit" value="Classify"></p>
                    </form>
                    <p>Category: {{result}}</p>
                </div>
                <div id="multiple_article_prediction">
                    <h2>Multiple Article Prediction</h2>
                    <form action="/prediction" method="post" enctype="multipart/form-data">
                        <input type="file" name="dataset" accept=".csv">
                        <p><input type="submit" value="Classify"> <input type="reset"></p>
                        <p>To classify News Articles upload a .csv (Comma Separated Value) file in the following format</p>
                        <ul>
                            <li>Filename in format "NAS_{DDMMYYYY}_{HHMMSS}.csv"<br> Where "DDMMYYYY" represents the date and "HHMMSS" represents the time.</li>
                            <li>Column Names in the first row in following format:</li>
                            <li>
                                <ol>
                                    <li>First Column Heading: "ArticleId"</li>
                                    <li>Second Column Heading: "Text"</li>
                                </ol>
                            </li>
                            <li> The data to be predicted on should start from 2nd row</li>
                        </ul>
                    </form>
                </div>
            </div>

        </div>
    </body>
</html>